/* Definindo o estilo da página */
* {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.navbar {
    position: fixed;;
    background-color: black;
    color: white;
}

.logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.logo a {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

appname {
    font-size: 18px;
    margin-left: -22px;
    font-style: italic;
}

#tabelas-container {
    color: black;
}

#tabelas-container, h2 {
    padding-top: 50px;
}

.whatsapp-icon {
    color: green;
    text-decoration: none; 
}


@media (max-width: 926px) {
    #tabelas-container {
        padding-top: 0px;
    }

    #tabelas-container h2{
        font-size: 12.5px;
        font-weight: bolder;
        padding-left: 10px;
        text-transform: uppercase;
        text-align: left;
        color: white;
        background-color: #212325;
    }

    a#zap-link i{
        padding-top: 20px;
        font-size: 40px;
    }

    table {
        margin: 3px;
    }

    thead {
        font-size: 12.8px;
        font-weight: bolder; 
    }

    td {
        font-size: 12px;
        font-weight: 700;
    }
  }